index.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HN-Stationary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product-Id" type="xs:unsignedByte" />
              <xs:element name="Product-Name" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
              <xs:element name="Price-per-unit" type="xs:unsignedByte" />
              <xs:element name="Price-per-dozen" type="xs:unsignedShort" />
              <xs:element name="stock" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
